div { /* div는 무조건 root를 의미 : <Fragment>, <>, <div> 다 적용가능 */
  background-color: rgba(5, 5, 64);
  color: aliceblue;
  padding: 50px;
  text-align: center;
}

h1 {
  color: red;
}

h3 {
  background-color: mediumslateblue;
}

.class1 {
  font-size: 3em;
  font-style: italic;
  border: 10px dotted orange;
}

#id1 {
color: lawngreen;
}